@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');

nav {
    font-family: 'Merriweather', serif;
}

.logo {
    height : 40px;
}

.profile_pic {
    width : 30px;
    border-radius : 50%;
}

@media (max-width: 991.98px) {
    .profile_dropdown , .login_register_btn{
        margin-bottom : 10px;
    }

    .navbar-nav {
        margin-top : 20px;
    }

}